body {
    font-family: Arial, sans-serif;
    background-color: #a3472b;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #411414;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #999;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #342207;
    margin-bottom: 20px;
    text-align: justify;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border: 5px solid #ddd;
    border-radius: 10px;
}
