body {
    margin: 0;
    background: rgb(225, 221, 221);
}
main {
    margin-bottom: 40px; 
    padding: 10px;
    background: rgb(201, 181, 181);
    text-shadow: 1px 1px 2px #4a3939;
}
header {
    margin-bottom: 30px; 
    padding: 20px;
    background: rgb(141, 110, 103);
    text-shadow: 2px 2px 4px #4a3939;
}
footer {
    margin-top: 20px; 
    padding: 10px;
    background: rgb(141, 110, 103);
    text-shadow: 2px 2px 4px #4a3939;
    text-align: right; 
    position: fixed;
    bottom: 0; 
    left: 0; 
    right: 0;
}
.error {
    color:red;
    font-weight: bold;
}

.b {
    background-color: #5b2323;
    border: 3px solid rgb(78, 75, 75);
    border-radius: 30px;
    padding: 3 20px;
    color: aliceblue;
}
.p {
    background-color: #e4e4e4;
    border: 3px solid rgb(78, 75, 75);
    border-radius: 30px;
    width: 150px;
    height: 40px;
    color: #523c3c;
    font-size: 16px;
    padding: 0 20px;
    margin-bottom: 15px;
}

.bt {
    display: inline-block;
    padding:  10px;
    margin: 5px;
    background-color: #423d85;
    border-radius: 5px;
    text-align: center;
}
a.bt {
    color: white;
}
.bt-container{
    background-color: #818ac9;
    padding: 20px;
    text-align: center;
}