{% extends 'base2.html' %}

{% block main %}
    <img src="{{ url_for('static', filename='lab9/new_year.png') }}" alt="Новый год" class="new-year-img">
    <h1>Создайте новогоднюю открытку!</h1>
    {% if name %}
        <p>Ваше последнее поздравление для {{ name }}.</p>
        <a href="{{ url_for('lab9.result') }}" class="button">Посмотреть поздравление</a>
    {% else %}
        <a href="{{ url_for('lab9.step1') }}" class="button">Создать открытку</a>
    {% endif %}
    <a href="{{ url_for('lab9.reset') }}" class="button" style="background-color: #ff6b6b;">Сбросить данные</a>
{% endblock %}