{% extends 'base.html' %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block main %}
    <h1>Поздравления</h1>
    {% if name %}
        <p>Ваше последнее поздравление для {{ name }}.</p>
        <a href="{{ url_for('lab9.result') }}" class="button">Посмотреть поздравление</a>
    {% else %}
        <a href="{{ url_for('lab9.step1') }}" class="button">Создать открытку</a>
    {% endif %}
    <a href="{{ url_for('lab9.reset') }}" class="button" style="background-color: #ff6b6b;">Сбросить данные</a>
{% endblock %}